@tailwind base;
@tailwind components;
@tailwind utilities;

.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(204, 79%, 64%);
  --color-two: hsl(216, 95%, 55%);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}
.boujee-bg {
  --bg-size: 400%;
  --color-one: hsl(204, 79%, 64%);
  --color-two: hsl(216, 95%, 55%);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  animation: move-bg 8s infinite linear;
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}